.page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summeryBlock {
    display: flex;
    justify-content: end;
}

.summery {
    padding: 1rem;
    list-style: none;

    & > li {
        padding: 0.5rem 0;
    }
}

.title {
    font-weight: bold;
}

.id {
    font-size: 0.9rem;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 1rem;
}
