.footer {
    padding: 3rem 1rem;
    color: var(--c-footer);
    background: var(--bg-footer);
}

.col {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.colTitle {
    font-weight: bold;
}

.list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-size: 0.75rem;
}

.email,
.email:active,
.email:visited {
    color: inherit;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
}
