.header {
    margin-bottom: 8px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 200px 1fr;
    column-gap: 16px;
    grid-template-rows: auto;
    grid-template-areas: 'sidebar content';
    max-width: 1280px;
    margin: auto;
}

.sidebar {
    grid-area: sidebar;
    padding: 0.5rem;
    list-style: none;
    background: white;
    border-radius: 0.5rem;
}

.linkActive {
    font-weight: bold;
}

.item {
    padding: 0.25rem 0;
}

.layout {
    padding-bottom: 4rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 20rem;
    padding: 1rem 0 0 1rem;
}
