@import 'src/client/styles/mixins.css';

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    row-gap: 1rem;

    @mixin tablet {
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
