.header {
    display: flex;
    padding: 1rem 0.5rem;

    & > * {
        width: 33%;
        flex-grow: 1;
    }
}

.nav {
    display: flex;
    align-items: center;

    & > div:not(:last-child):after {
        content: '|';
        padding: 0 0.5rem;
    }
}

.logoBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 30px;
}
